.category-container {
    padding: 40px 0;

}

.category-header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0 20px;
    gap: 1%;
}

.product-container {
    margin-bottom: 20px;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
}

.product-listing-image {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px;
}

.product-listing-details {
    padding: 10px;
}


/* Responsive design */
@media (max-width: 768px) {
    .category-container {
        padding: 20px 0;
    }

    .category-header {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .product-index {
        padding: 0 10px;
    }

    .product-container {
        width: 100%;
    }
}

/* link hover effect */
.product-container:hover {
    transform: translateY(-5px);
}

.product-listing-image img:hover {
    cursor: pointer;
    scale: 1.02;
}

a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #ffa41c;
}