.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}

.no-result-text p {
    line-height: 20px;
}