.i-icon {
    color: #b9d8e9;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
}

.signup-btn {
    background-color: #ffd814;
    border-radius: 7px;
    border-color: #ffd814;
    margin-bottom: 5px;
}

.signup-btn:hover {
    background-image: linear-gradient(rgba(0,0,0,0.05) 0 0)
}