.top-navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Automatically spaces contents evenly */
    gap: 10px;
    padding: 5px;
    min-width: 800px;
    background-color: #131921;
}

.nav-left {
    display: flex;
    align-items: center;
}

.home-logo {
    width: 120px;
    height: 47px;
    padding-top: 4px;
    margin-right: 20px;
    border: 1px solid transparent;
}

.home-logo:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.linkedin {
    height: 35px;
    width: 35px;
    padding-right: 10px;
}

.github {
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.nav-search {
    display: flex;
    align-content: center;
    padding: 10px 4px 10px 3px;
}
.search-form {
    /* align-items: center; */
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding-left: 10px;
    width: 100%;
}

.search-form [type="text"] {
    margin-bottom: 0px;
    border: none;
}

.search-form [type="text"]:focus {
    box-shadow: none;
}

.search-form button {
    width: 60px;
    height: 40px;

    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px; 
    background: transparent;
    border: none;
    outline: none;
    background-color: #febd68;
}

.search-form button:hover {
    background-image: linear-gradient(rgba(0,0,0,0.05) 0 0)
}









.user-widgets {
    display: flex;
    justify-content: end;
    /* justify-content: center; */
    align-items: center;
}

.user-widgets a {
    color: white;
}

.user-widgets a:hover {
    color: white;
}

.cart-set {
    padding: 17px 7px 7px 7px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid transparent;
    min-width: 70px; /* Set a minimum width to prevent shifting */
    overflow: hidden; /* Hide content that exceeds the minimum width */
    position: relative; /* Use relative positioning */
}

.cart-set:hover {
    border: 0.5px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.cart-set a:hover {
    text-decoration: none;
}

.cart-icon {
    width: 40px;
    height: 27px;
}
.cart-icon-name {
    font-weight: bold;
}

.cart-set p {
    position: absolute;
    text-align: center;
    width: 50px;
    right: 30px;
    top: 12px; /* Use a negative top margin to move the number up */
    font-size: 18px;
    color: #ed8605;
    font-weight: bold;
    z-index: 20;
    margin: 0 auto; /* Center the text horizontally */
}


.dropdown {
    float: left;
    overflow: hidden;
    border: 1px solid transparent;
}

.dropdown .nav-link-account {
    border: none;
    outline: none;
    color: white;
    padding: 10px 7px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav-line-1 {
    font-size: 12px;
}

.nav-line-2 {
    font-size: 14px;
    font-weight: 700;
}

.nav-line-2 svg {
    padding-left: 3px;
    vertical-align: -2px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    min-height: 80px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover {
    border: 0.5px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-content .login-text {
    color: black;
    font-size: 13px;
}

.dropdown-content .login-text:hover {
    color: black;
    text-decoration: underline;
}

.dropdown-content .menu-signup {
    color: #007bff;
    padding-left: 5px;
}

.dropdown-content .menu-signup:hover {
    color: #ff4500;
    text-decoration: underline;
}

.new-customer {
    font-size: 11px;
    margin-top: 10px;
}

.menu-login-container {
    background-color: #ffd814;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.menu-login-container:hover {
    background-image: linear-gradient(rgba(0,0,0,0.05) 0 0)
}

.dropdown-content .menu-logout {
    width: 70%;
    background-color: #ffd814;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    line-height: 30px;
    padding: 0;
}

.dropdown-content p {
    padding-top: 5px;
    font-size: 11px;
}

.navbar-category-container {
    display: flex;
    justify-content: space-around;
    background-color: #232f3e;
    align-items: center;
    min-width: 780px;
}

.nav-category {
    padding: 10px 7px;
}

.category-link {
    color: white;
    padding: 8px 7px;
    border: 1px solid transparent;
}

.category-link:hover {
    color: white;
    border: 0.5px solid white;
    border-radius: 3px;
    cursor: pointer;
}