.empty-cart {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

.shopping-cart-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.cart-title {
    display: flex;
    justify-content: left;
    font-weight: 300;
    font-size: 28px;
}

.cart-price {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #d6d4d4;
    width: 100%;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
}

.item-delete-btn {
    width: 50px;
    background: white;
    border: 0;
    color: #0066C0;
    cursor: pointer;
    overflow: visible;
    padding: 0;
    font-size: 14px;
}

.icon-text-separator {
    display: inline-block;
    margin: -2px 0.67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
}

.item-input {
    width: 50px;
    margin-right: 5px;
}

.select-qty {
    border-radius: 5px;
}

input[type=number] {
    border: 1px solid #888C8C;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
    outline: 0;
    background-color: #fff;
    height: 17px;
    padding: 3px 7px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #eaeded;
}

.purchase-detail {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 10px;

    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-top: 16px;
    padding: 15px;
    position: sticky;
    top: 20px;
    width: 300px;

    border-radius: 8px;
}

.cart-subtotal {
    text-align: right;
}

.total-price {
    font-weight: bold;
}

.checkout-btn {
    background-color: #ffd814;
    border-radius: 8px;
    border-color: #ffd814;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 30px;
}

.update-btn {
    background-color: #ffd814;
    border-radius: 8px;
    border-color: #ffd814;
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    /* height: 30px; */
    width: 60px;
}

.checkout-btn:hover {
    background-image: linear-gradient(rgba(0,0,0,0.05) 0 0)
}

.update-btn:hover {
    background-image: linear-gradient(rgba(0,0,0,0.05) 0 0)
}

.item-update {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-qty-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qty-name {
    padding-right: 5px;
}